@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost/Jost-Regular.woff2') format('woff2'),
    url('../assets/fonts/Jost/Jost-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost/Jost-Medium.woff2') format('woff2'),
    url('../assets/fonts/Jost/Jost-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost/Jost-Bold.woff2') format('woff2'),
    url('../assets/fonts/Jost/Jost-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/Jost/Jost-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Jost/Jost-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo/Cairo-Regular.woff2') format('woff2'),
    url('../assets/fonts/Cairo/Cairo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo/Cairo-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Cairo/Cairo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo/Cairo-Bold.woff2') format('woff2'),
    url('../assets/fonts/Cairo/Cairo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  src: url('../assets/fonts/Cairo/Cairo-Medium.woff2') format('woff2'),
    url('../assets/fonts/Cairo/Cairo-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.ltr-font {
  * {
    font-family: "Jost", sans-serif;
  }
}

.rtl-font {
  * {
    font-family: "Cairo", sans-serif;
  }
}