<div class="container mx-auto my-10 card">
  <div *ngIf="gettingInfo">{{ "loading" | translate }}</div>
  <form
    *ngIf="patientInfoForm"
    [formGroup]="patientInfoForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="flex justify-between items-center flex-wrap">
      <h3 class="text-base font-semibold leading-7 text-gray-900">
        {{ "header.info" | translate }}
      </h3>
      <div class="flex gap-4">
        <a
          [routerLink]="['/patient/info']"
          class="btn-blue-outline text-sm px-4 py-2 font-medium inline-block"
          >{{ "btns.cancel" | translate }}</a
        >
        <button
          [loadingSpinner]="updatingInfo"
          type="submit"
          class="btn-blue bg-indigo-600 text-sm px-4 py-2 font-medium inline-block"
        >
          {{ "btns.save" | translate }}
        </button>
      </div>
    </div>

    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <label for="name" class="block font-medium leading-6 text-gray-900">
              {{ "form.labels.name" | translate }}
            </label>
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <input
              id="name"
              formControlName="name"
              type="text"
              autocomplete="name"
              required
              class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              [ngClass]="{
                'is-valid': isFieldValid('name'),
                'is-invalid': isFieldInvalid('name')
              }"
            />
            <div class="invalid-feedback" *ngIf="isFieldInvalid('name')">
              {{ "form.errors.name" | translate }}
            </div>
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <label
              for="email"
              class="block font-medium leading-6 text-gray-900"
            >
              {{ "form.labels.email" | translate }}
            </label>
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <input
              id="email"
              formControlName="email"
              type="email"
              autocomplete="email"
              required
              class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              [ngClass]="{
                'is-valid': isFieldValid('email'),
                'is-invalid': isFieldInvalid('email')
              }"
            />
            <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
              {{ "form.errors.email" | translate }}
            </div>
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <label
              for="gender"
              class="block font-medium leading-6 text-gray-900"
            >
              {{ "form.labels.gender" | translate }}
            </label>
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <select
              id="gender"
              formControlName="gender"
              type="tel"
              autocomplete="gender"
              required
              class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              [ngClass]="{
                'is-valid': isFieldValid('gender'),
                'is-invalid': isFieldInvalid('gender')
              }"
            >
              <option value="male">{{ "form.labels.male" | translate }}</option>
              <option value="female">
                {{ "form.labels.female" | translate }}
              </option>
            </select>
            <div class="invalid-feedback" *ngIf="isFieldInvalid('gender')">
              {{ "form.errors.gender" | translate }}
            </div>
          </dd>
        </div>

        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <label
              for="dateOfBirth"
              class="block font-medium leading-6 text-gray-900"
            >
              {{ "form.labels.dateOfBirth" | translate }}
            </label>
          </dt>
          <dd
            class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
          >
            <input
              id="dateOfBirth"
              formControlName="dateOfBirth"
              type="date"
              autocomplete="dateOfBirth"
              required
              class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              [ngClass]="{
                'is-valid': isFieldValid('dateOfBirth'),
                'is-invalid': isFieldInvalid('dateOfBirth')
              }"
            />
            <div class="invalid-feedback" *ngIf="isFieldInvalid('dateOfBirth')">
              {{ "form.errors.dateOfBirth" | translate }}
            </div>
          </dd>
        </div>
      </dl>
    </div>
  </form>
</div>
