<section class="mh-screen flex justify-center items-center">
  <div class="mx-auto max-w-3xl p-4">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        {{ "home.title" | translate }}
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        {{ "home.desc" | translate }}
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a [routerLink]="['/login-doctor']" class="btn-blue"
          >{{ "header.login-doctor" | translate }}
        </a>
        <a [routerLink]="['/login-patient']" class="btn-green">
          {{ "header.login-patient" | translate }}
        </a>
      </div>
    </div>
  </div>
</section>
