<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="flex justify-between items-center flex-wrap">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
      {{ "header.change-password" | translate }}
    </h3>
    <div class="flex gap-4">
      <button
        [loadingSpinner]="updatingPassword"
        type="submit"
        class="btn-blue bg-indigo-600 text-sm px-4 py-2 font-medium inline-block"
      >
        {{ "btns.save" | translate }}
      </button>
    </div>
  </div>

  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <label
            for="old-password"
            class="block font-medium leading-6 text-gray-900"
          >
            {{ "form.labels.old-password" | translate }}
          </label>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <input
            id="old-password"
            formControlName="oldPassword"
            type="password"
            autocomplete="old-password"
            required
            class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            [ngClass]="{
              'is-valid': isFieldValid('oldPassword'),
              'is-invalid': isFieldInvalid('oldPassword')
            }"
          />
          <div class="invalid-feedback" *ngIf="isFieldInvalid('oldPassword')">
            {{ "form.errors.password" | translate }}
          </div>
        </dd>
      </div>

      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          <label
            for="new-password"
            class="block font-medium leading-6 text-gray-900"
          >
            {{ "form.labels.new-password" | translate }}
          </label>
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          <input
            id="new-password"
            formControlName="newPassword"
            type="password"
            autocomplete="new-password"
            required
            class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            [ngClass]="{
              'is-valid': isFieldValid('newPassword'),
              'is-invalid': isFieldInvalid('newPassword')
            }"
          />
          <div class="invalid-feedback" *ngIf="isFieldInvalid('newPassword')">
            {{ "form.errors.password" | translate }}
          </div>
        </dd>
      </div>
    </dl>
  </div>
</form>
