* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  @apply mx-auto px-4;
}

input,
select {
  outline: none;
  height: 38px;
}

textarea {
  outline: none;
}

select,
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background-color: white;
}