<div class="container mx-auto my-10 card">
  <div class="flex justify-between items-center flex-wrap">
    <h3 class="text-base font-semibold leading-7 text-gray-900">
      {{ "header.info" | translate }}
    </h3>
    <div class="flex gap-4">
      <a
        [routerLink]="['../update-info']"
        class="btn-green-outline text-sm px-4 py-2 font-medium inline-block"
        >{{ "btns.edit" | translate }}</a
      >
      <button
        class="btn-blue-outline text-sm px-4 py-2 font-medium inline-block"
        (click)="this.showLogoutModal = true"
      >
        {{ "logout.title" | translate }}
      </button>
    </div>
  </div>

  <div class="mt-6 border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          {{ "form.labels.name" | translate }}
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {{ patientInfo ? patientInfo.name : ("loading" | translate) }}
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          {{ "form.labels.email" | translate }}
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {{ patientInfo ? patientInfo.email : ("loading" | translate) }}
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          {{ "form.labels.gender" | translate }}
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {{ patientInfo ? patientInfo.gender : ("loading" | translate) }}
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          {{ "form.labels.dateOfBirth" | translate }}
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {{
            patientInfo
              ? (patientInfo.dateOfBirth | date)
              : ("loading" | translate)
          }}
        </dd>
      </div>
    </dl>
  </div>
</div>

<!-- confirm logout -->
<app-confirm-popup
  [(show)]="showLogoutModal"
  [title]="'logout.title' | translate"
  [description]="'logout.desc' | translate"
  [confirmText]="'logout.title' | translate"
  (onConfirm)="logout()"
></app-confirm-popup>
